version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: ecommerce_app:latest
    command: daphne -b 0.0.0.0 -p 8000 ecommerce.asgi:application
    environment:
      - DJANGO_SETTINGS_MODULE=ecommerce.settings
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
    restart: always

  celery:
    image: ecommerce_app:latest
    command: celery -A ecommerce worker --loglevel=info
    env_file:
      - .env
    restart: always
    environment:
      - DJANGO_SETTINGS_MODULE=ecommerce.settings
      - SENDGRID_API_KEY=${SENDGRID_API_KEY}
    volumes:
      - .:/app
    depends_on:
      - redis
      - postgres

  celery-beat:
    image: ecommerce_app:latest
    command: celery -A ecommerce beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    restart: always
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:7-alpine
    command:
      - redis-server
      - --appendonly
      - "yes"
      - --appendfsync
      - everysec
      - --requirepass
      - ${REDIS_PASSWORD:-}
    env_file:
      - .env
    restart: always
    volumes:
      - redis_data:/data


  postgres:
    image: postgres:17
    environment:
      - POSTGRES_DB=negromart
      - POSTGRES_USER=explorer
      - POSTGRES_PASSWORD=Explorer@2003
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  redis_data:
  postgres_data: