# CORE
avatar-generator==0.4.2
Django==5.1.6
asgiref==3.8.1
sqlparse==0.5.3
pytz==2025.2
tzdata==2025.1

# DATABASE
psycopg2-binary==2.9.10
dj-database-url==3.0.1

# REST & AUTH
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
djoser==2.3.1
PyJWT==2.10.1

# CELERY & REDIS
celery==5.4.0
django-celery-beat==2.8.1
billiard==4.2.1
kombu==5.4.2
amqp==5.3.1
vine==5.1.0
redis==5.2.1
django-redis==5.4.0
flower==2.0.1

daphne>=4.1.0
channels>=4.1.0
channels-redis>=4.2.0

# STORAGE
boto3==1.40.1
botocore==1.40.1
django-storages==1.14.6
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
s3transfer==0.13.1

# EMAIL
django-ses==4.4.0
requests==2.32.3
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
urllib3==2.3.0

# DJANGO UTILITIES
django-cors-headers==4.6.0
django-filter==25.1
django-environ==0.12.0
python-decouple==3.8
python-dotenv==1.0.1
django-jazzmin==3.0.5
django-taggit==6.1.0
django-ipware==7.0.1
django-countries==7.6.1
django-timezone-field==7.1

# EDITORS
django-ckeditor==6.7.2
django-ckeditor-5==0.2.18
django-tinymce==4.1.0

# MEDIA
pillow==11.1.0
ExifRead==3.5.1

# OTHERS
python-magic==0.4.27
PyPDF2==3.0.1
shortuuid==1.0.13
colorama==0.4.6
typing_extensions==4.12.2
whitenoise==6.9.0
gunicorn==23.0.0
uvicorn[standard]==0.32.0
numpy==2.2.6
forex-python
pycountry==24.6.1
pandas==2.2.2
mlxtend==0.23.1
elasticsearch8==8.15.1
pyotp==2.9.0
reportlab==4.2.5
user-agents==2.2.0

